<%- include('../partials/form/header') %>
    <div class="container">
      <form action="/g9" method="post" class="form-check d-flex flex-column justify-content-center align-items-center">
        <h2 class="h2 text-center">Apakah Memiliki Gejala bercak coklat pada daun?</h2>

        <div class="row my-5">
          <div class="col-12 d-flex flex-row justify-content-center align-items-center content">
           <section class="d-flex justify-content-center align-items-center">
            <input
            type="radio"
            name="validator"
            id="true"
            value="y"
            checked
            class="form-check-input"
          />
          <label for="true" class="form-check-label fs-4">Ya</label>
           </section>

           <section class="d-flex justify-content-center align-items-center">
               <input
               type="radio"
               name="validator"
               id="false"
               value="n"
               class="form-check-input"
               />
               <label for="false" class="form-check-label fs-4">Tidak</label>
            </section>
            </div>
        </div>

        <div class="row">
          <div class="col-12 d-flex justify-content-center align-items-center">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
          </div>
        </div>
      </form>
    </div>

    <%- include('../partials/form/footer') %>